.cover {
  @apply py-6 border-b border-secondary relative;
  & figure {
    @apply relative pb-3/5 w-full xl:pb-2/5;
  }
  & ul {
    @apply absolute bottom-0 right-0 pb-3 flex;
  }
}

.carousel {
  @apply flex flex-row-reverse items-center justify-between relative min-w-full mr-10;
  scroll-snap-align: start;
  & figure {
    @apply relative pb-2/3 flex-1 xl:pb-1/3;
  }
  & section {
    flex: 1.5;
    @apply mr-8;
  }
  & ul {
    @apply flex absolute bottom-0 bg-primary right-0 transform translate-x-1 translate-y-1;
  }
}

.title {
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
