.cover {
  @apply pt-6 pb-4 border-b border-primary relative;
  & figure {
    @apply relative w-full;
    & img {
      @apply w-full object-cover;
    }
  }
  & ul {
    @apply absolute bottom-0 right-0 pb-3 flex;
  }
}

.carousel {
  @apply box-border flex flex-row-reverse items-center justify-between relative min-w-full mr-10;
  scroll-snap-align: start;
  & figure {
    @apply relative pb-56 w-2/5;
  }
  & img {
    @apply absolute h-full max-h-full w-full max-w-full object-cover;
  }
  & ul {
    @apply flex absolute bottom-0 bg-primary right-0 transform translate-x-1 translate-y-1;
  }
}

.title {
  overflow: hidden;
  max-height: 7rem;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  @apply font-serif capitalize text-3xl text-primary leading-tight;
}
