@layer base {
  p,
  ul,
  ol,
  li {
    @apply text-primary;
  }

  a {
    @apply underline;
  }

  h6 {
    @apply text-base font-bold text-primary;
  }

  h5 {
    @apply text-lg font-bold text-primary;
  }

  h4 {
    @apply text-xl font-bold text-primary;
  }

  h3 {
    @apply text-2xl font-bold text-primary;
  }

  h2 {
    @apply text-3xl font-bold text-primary;
  }

  h1 {
    @apply text-4xl font-bold text-primary;
  }
}
