/* playfair-display-regular - latin */
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/playfair-display/playfair-display-v22-latin-regular.eot');
  src: url('/fonts/playfair-display/playfair-display-v22-latin-regular.eot?#iefix')
      format('embedded-opentype'),
    url('/fonts/playfair-display/playfair-display-v22-latin-regular.woff2')
      format('woff2'),
    url('/fonts/playfair-display/playfair-display-v22-latin-regular.woff')
      format('woff'),
    url('/fonts/playfair-display/playfair-display-v22-latin-regular.ttf')
      format('truetype'),
    url('/fonts/playfair-display/playfair-display-v22-latin-regular.svg#PlayfairDisplay')
      format('svg');
}

/* public-sans-regular - latin */
@font-face {
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/public-sans/public-sans-v5-latin-regular.eot');
  src: url('/fonts/public-sans/public-sans-v5-latin-regular.eot?#iefix')
      format('embedded-opentype'),
    url('/fonts/public-sans/public-sans-v5-latin-regular.woff2') format('woff2'),
    url('/fonts/public-sans/public-sans-v5-latin-regular.woff') format('woff'),
    url('/fonts/public-sans/public-sans-v5-latin-regular.ttf')
      format('truetype'),
    url('/fonts/public-sans/public-sans-v5-latin-regular.svg#PublicSans')
      format('svg');
}

/* public-sans-700 - latin */
@font-face {
  font-family: 'Public Sans';
  font-style: normal;
  font-weight: 700;
  src: url('/fonts/public-sans/public-sans-v5-latin-700.eot');
  src: url('/fonts/public-sans/public-sans-v5-latin-700.eot?#iefix')
      format('embedded-opentype'),
    url('/fonts/public-sans/public-sans-v5-latin-700.woff2') format('woff2'),
    url('/fonts/public-sans/public-sans-v5-latin-700.woff') format('woff'),
    url('/fonts/public-sans/public-sans-v5-latin-700.ttf') format('truetype'),
    url('/fonts/public-sans/public-sans-v5-latin-700.svg#PublicSans')
      format('svg');
}
