:root {
  /* Fonts */
  --font-sans: 'Noto Sans JP', -apple-system, BlinkMacSystemFont, Segoe UI,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    sans-serif;
  --font-serif: 'Playfair Display', serif;

  /* Theme Colors */
  --light: #ffffff;
  --light-2: #f1f3f5;
  --dark: #111;
  --dark-2: #1f2023;

  /* Accent Colors */
  --green: #37b679;
  --red: #da3c3c;
  --cyan: #22b8cf;
  --pink: ##ca327e;
  --violet: #5f3dc4;

  /* Text Colors */
  --text-primary: rgba(0, 0, 0, 1);
  --text-secondary: #505050;
  --text-accent: var(--pink);

  /* Main Colors */
  --primary: var(--light);
  --primary-2: var(--light-2);
  --secondary: var(--dark);
  --secondary-2: var(--dark-2);

  --selection: var(--cyan);

  /* Hover Colors */
  --hover: rgba(0, 0, 0, 0.075);
  --hover-1: rgba(0, 0, 0, 0.15);
  --hover-2: rgba(0, 0, 0, 0.25);
}

[data-theme='dark'] {
  --text-primary: rgba(255, 255, 255, 1);
  --text-secondary: rgba(255, 255, 255, 0.5);
  --text-accent: var(--pink);

  --primary: var(--dark);
  --primary-2: var(--dark-2);
  --secondary: var(--light-2);
  --secondary-2: var(--light);

  --selection: var(--purple);

  --hover: rgba(255, 255, 255, 0.075);
  --hover-1: rgba(255, 255, 255, 0.15);
  --hover-2: rgba(255, 255, 255, 0.25);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  height: 100%;
  box-sizing: border-box;
  touch-action: manipulation;
  font-feature-settings: 'case' 1, 'rlig' 1, 'calt' 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  font-family: var(--font-sans);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary);
  color: var(--text-primary);
}

body {
  position: relative;
  min-height: 100%;
  margin: 0;
}

@media screen and (max-width: 991px) {
  a {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
    user-select: none;
  }
}
